<h1>Families</h1>
<% if has_family?(current_user) %>
  <h3>Your family is <%= current_user_family(current_user).family_name %></h3>
<% else %>
  <%= render "layouts/family_form", { family: @family } %>
<% end %>