<h1>Families</h1>
<% if !@families.empty? %>
  <% @families.each do |family| %>
    <h3><%= family.family_name %></h3>
  <% end %>
<% else %>
  <%= render "layouts/family_form", { family: @family } %>
<% end %>